<div class='row'>
	<div class='col-sm-2'></div>
	<div class='basicDiv col-sm-8 center'>
		<h1 class='kalam'>Welcome to Pick-nic</h1>
		<hr />
		<p><span class='kalam'>Pick</span> a recipe or <a href='/profile'>create</a> your own!</p>
	</div>
	<div class='col-sm-2'></div>
</div>

<hr />

<div class='row basicDiv'>
	<div class='col-sm-12'>
		<h2 class='center kalam'>Popular Recipes</h2>
		<hr />
	</div>
	<div class='row center'>
		<% recipes.forEach(function(recipe) { %>
			<% let favArr = []; %>
			<% favorites.forEach(function(favorite) { %>
				<% if (recipe.id === favorite.recipeid) { %>
					<% favArr.push(favorite); %>
				<% } %>
			<% }); %>
			<% if(favArr.length > 2) { %>
				<div class='col-sm-4'>
					<a href='/recipes/<%= recipe.id %>'><h3 class='kalam'><%= recipe.name %></h3></a>
<!-- 					<p><%= favArr.length %> likes</p> -->
					<% recipe.images.forEach(function(image) { %>
						<img src='<%= image.url %>' class='boxshadow grayborder' name='<%= image.name %>' width='80%' />
					<% }) %>
				</div>
			<% } %>
		<% }); %>
	</div>
</div>
