<div class='row'>
	<div class='col-sm-1'></div>
	<div class='col-sm-3 basicDiv center'>
		<p><%= user.firstName %> <%= user.lastName %></p>
		<p>( <%= user.email %> )</p>
		<hr />
		<a href="/">Home</a>
	</div>

	<div class='col-sm-1'></div>

	<div class='col-sm-6 basicDiv'>
		<form action='/users/<%= user.id %>/recipe' method='POST'>
			<input type='text' placeholder='(Recipe Name)' name='name' required>
			<button type='submit' class='btn btn-success'>Add</button>
		</form>

		<hr />

		<% user.recipes.forEach(function(recipe) { %>
			<p>
				<a href="/recipes/<%-recipe.id %>"><%= recipe.name %></a>
				<a href="/recipes/<%= recipe.id %>/instructions">(Edit)</a>
			</p>
		<% }); %>
	</div>
	<div class='col-sm-1'></div>
</div>