<div class='row'>
	<div class='col-sm-4'></div>
	<div class='col-sm-4 recipeHead'>
		<h1><%= recipe.name %></h1>
		<p class='center'>Created by: <a href='/users/<%= user.id %>'><%= user.firstName %></a></p>
	</div>
	<div class='col-sm-4'></div>
</div>

<hr />

<div class='row'>
	<div class='col-sm-5 ingredients border'>
		<h2 class='kalam in-block center'>
			Ingredients
		</h2>
		<table class='kalam'>
			<% recipe.ingredients.forEach(function(ingredient) { %>
				<tr>
					<td><%= ingredient.amount %></td>
					<td><%= ingredient.ingredient %></td>
				<tr>
			<% }); %>
		</table>
	</div>

	<div class='col-sm-1'></div>

	<div class='col-sm-6 instructions border'>
		<h2 class='center'>Instructions</h2>
		<ol>
			<% recipe.instructions.forEach(function(instruction) { %>
					<li><%= instruction.instruction %></li>
			<% }); %>
		</ol>
		<hr />
		<form method="POST" action="/myrecipes" class='in-block center'>
			<input hidden type='text' name='name' value='<%= recipe.name %>'>
			<input hidden type="text" name="recipeid" value="<%= recipe.id %>">
			<button class="btn btn-success" type="submit">Save</button>
		</form>
	</div>
</div>