<div class='row'>

	<div class='col-sm-1'></div>
	<div class='col-sm-4 basicDiv center'>
		<h1 class='kalam'><%= recipe.name %></h1>
		<p class='center'>Created by: <a href='/users/<%= user.id %>'><%= user.firstName %></a></p>
		<p>Favorites: <%= favorites.length %></p>
		<form method="POST" action="/favorites" class='in-block center'>
			<input hidden type='text' name='name' value='<%= recipe.name %>'>
			<input hidden type="text" name="recipeid" value="<%= recipe.id %>">
			<button class="btn btn-success" type="submit">Favorite</button>
		</form>
	</div>

	<div class='col-sm-1'></div>

	<div class='col-sm-5'>
		<div class='row'>
			<div class='col-sm-12 basicDiv ingredients'>
				<h2 class='kalam in-block center'>
					Ingredients
				</h2>
				<table class='kalam'>
					<% recipe.ingredients.forEach(function(ingredient) { %>
						<tr>
							<td><%= ingredient.amount %></td>
							<td><%= ingredient.ingredient %></td>
						<tr>
					<% }); %>
				</table>
			</div>

			<div class='col-sm-12 basicDiv'>
				<h2 class='center kalam'>Instructions</h2>
				<ol>
					<% recipe.instructions.forEach(function(instruction) { %>
							<li><%= instruction.instruction %></li>
					<% }); %>
				</ol>
			</div>
		</div>
	</div>
	<div class='col-sm-1'></div>

</div>